{:mvn/repos {"enonic" {:url "https://repo.enonic.com/public/"}}

 :deps {integrant/integrant {:mvn/version "0.8.0"}
        aero/aero {:mvn/version "1.1.6"}
        clj-http/clj-http {:mvn/version "3.12.0"}
        org.clojure/data.json {:mvn/version "2.0.1"}        
        metosin/malli {:mvn/version "0.5.1"}
        metosin/reitit {:mvn/version "0.5.12"}
        ring/ring-jetty-adapter {:mvn/version "1.9.2"}
        org.clojure/core.async {:mvn/version "1.3.610"}
        io.xapix/paos {:mvn/version "0.2.5"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.674"}
        org.postgresql/postgresql {:mvn/version "42.2.23"}
        ragtime/ragtime {:mvn/version "0.8.1"}
        com.github.seancorfield/honeysql {:mvn/version "2.0.0-rc3"}}

 :paths ["src"
         "resources"]

 :aliases {:dev {:extra-paths ["development/src"
                               "development/resources"]

                 :extra-deps {integrant/repl {:mvn/version "0.3.2"}
                              ring/ring-mock {:mvn/version "0.4.0"}}}
           
           ;; build an uberjar (application) with AOT compilation by default:
           :uberjar {:replace-deps
                     {com.github.seancorfield/depstar {:mvn/version "2.1.245"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true
                                 :main-class jira-mendix-integrator.main
                                 :group-id "tiagodalloca"
                                 :artifact-id "jira-mendix-integrator"
                                 :target-dir "target/uberjar"}}}}

;; (set 'cider-clojure-cli-aliases "-A:dev")

